<html>
  <body>
    <a href="/next" onmouseover="fetch('/hovered')">Next Page</a>
    <script type="text/javascript">
      window.addEventListener('load', () => {
        setTimeout(() => {
          const img = document.createElement('img');
          img.setAttribute('src', '/heavy_image/<%= SecureRandom.hex(10) %>.png');
          document.body.prepend(img);
        }, 0);
      });
    </script>
  </body>
</html>
