<html>
  <head>
    <script type="text/javascript">
      setTimeout(() => {
        const img = document.createElement('img');
        img.setAttribute('src', '/heavy_image/<%= SecureRandom.hex(10) %>.png');
        document.body.prepend(img);
      }, 1)
    </script>
  </head>
  <body>
    <a href='/next'>Next Page</a>
  </body>
</html>
